p, h1{
    text-align: center;
}
p{  
    font-size: 20px;
}

body{
    background: #b3c6c9;
}
#resaltar{
    font-size: 25px;
}

#banner{
    width: 100%;    
}


.items{
    font-style: italic;
    font-size: 25px;
}
.indicadores{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
}
.listas{
    background: #96556a48;
    padding: 30px;
}
.bloque01{
    background: #FFFFFF;
    padding: 30px;
}
.imagenReferencia{
    width: 30%;
}
.titulo{
    text-align: center;
    font-size: 30px;

}
